@model GameShop.ViewModel.RecommendedGameProductViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


@{
    ViewData["Title"] = "Create";
}

<div class="col-md-6 offset-3">
    <h2>Создание новой записи</h2>
    <p>
        <h4>RecommendedGameProducts</h4>
    </p>
    @if (TempData["Error"] != null)
    {
        <div class="col-md-12 alert alert-danger">
            <span><b>Sorry!</b> - @TempData["Error"]</span>
        </div>
    }
    
    

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ExpertName" class="control-label"></label>
                    <input asp-for="ExpertName" class="form-control" />
                    <span asp-validation-for="ExpertName" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <label asp-for="ExpertSurname" class="control-label"></label>
                    <input asp-for="ExpertSurname" class="form-control" />
                    <span asp-validation-for="ExpertSurname" class="text-danger"></span>
            </div>
                    <label class="control-label">"Название"</label>
            <div class="form-group d-flex-wrap">
                    <div class="form-group">
                        <input asp-for="SearchGameProduct" type="text" />
                        <input type="submit" value="поиск" />
                    </div>
                    <select 
                        asp-for="SelectedGameProduct"
                        asp-items="Model.GameProducts">
                    <option value="">Выберите игру</option>
                    <span asp-validation-for="SelectedGameProduct" class="text-danger"></span>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
